## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio / MSBuild
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser
[Tt]est[Rr]esult*/
[Dd]ebugPS/
*.VisualState.xml
TestResult.xml
[Bb]uild[Ll]og.*
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

## Visual Studio cache/options
.vs/
*.DotSettings.user
[Ee]ncrypted[Ww]eb.config

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/App_Data/*.mdf
**/App_Data/*.ldf
**/App_Data/*.sdf
project.lock.json
project.fragment.lock.json
artifacts/

## Rider
.idea/
*.sln.iml

## dotCover
*.dotCover

## Publish
*.publishsettings
PublishScripts/

## NuGet v3 lock file
packages.lock.json

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Mono
mono_crash.*

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## macOS
.DS_Store
